.wrapper {
    width: 90%;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-display: auto;
    font-family: ubuntu-regular;
    src: url(./assets//fonts/Ubuntu-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
